/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #000028;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-elements::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color, #FF0070);
  border-inline-start: 1px solid var(--accent-color, #FF0070);
}

.decorated-elements::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color, #FF0070);
  border-inline-end: 1px solid var(--accent-color, #FF0070);
}


.rec-element {
  display: flex;
  position: absolute;
  gap: 10px;
  right: 20px;
  top: 10px;
}

.rec-element::before {
  content: "rec";
  color: var(--accent-color, #FF0070);
  font-family: var(--main-font-family);
  font-weight: 400px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec-element::after {
  content: "";
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
  background-color: var(--accent-color, #FF0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--accent-color);
}


.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-active);
}

.header__title {
  justify-self: start;
  font-family: var(--main-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--focus-header-shadow);
  line-height: 95.7px;
}

.title-decor {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-text-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
}

.content {
  display: grid;
  padding: 0 10px;
  gap: 50px;
  padding-block-start: 40px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-list-what {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__title {
  font-family: var(--main-font-family);
  font-size: 18px;
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 23.4px;
}

.content__article-text {
  font-family: var(--main-font-family);
  font-size: 18px;
  color: var(--card-text-color);
  line-height: 23.4px;
  font-weight: 400px;
}

.article-link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.article-link:hover {
  border-block-end: 1px solid var(--card-text-color);
}

.article-link:focus {
  outline: 1px solid var(--card-text-color);
}

.article-link:focus-visible {
  outline: 1px solid var(--card-text-color);
  border-block-end: none;
}

.decorated-text {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  background-color: var(--accent-color);
  line-height: 23.4px;
  margin-block-start: 10px;
}

.content__gallery {
  display: grid;
  gap: 10px;
}

.images-list {
  display: grid;
  gap: 10px;
}

.image_item {
  inline-size: 100%;
}

.footer {
  display: grid;
  position: relative;
  font-family: var(--main-font-family);
  min-block-size: 668px;
  margin-block-start: 40px;
}

.footer__title {
  color: var(--focus-color);
  font-size: 116px;
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--focus-footer-shadow);
  align-self: center;
  margin-inline-start: 14px;
  margin-inline-end: 13px;
}

@media (width >= 768px) {

  .header {
    min-block-size: 1024px;
    padding: 20px;
    position: relative;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    gap: 10px;
    margin-block-end: 10px;
  }

  .header__theme-menu-button {
    border: 1px solid transparent;
    padding: 2px 13px 4px;
  }

  .decorated-elements::after {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .decorated-elements::before {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .rec-element::before {
    position: absolute;
    right: 28px;
    top: 10px;
  }

  .rec-element::after {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .title-text {
    inline-size: 50%;
  }

  .content {
    padding: 0px 20px;
    gap: 80px;
  }

  .content__why {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
    padding-block-start: 60px;
  }

  .main__title {
    grid-column: 1;
  }

  .content__why .content__article {
    grid-column: 2 / -1;
  }

  .content__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__title__what {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card-list-what {
    grid-column: 1 / 4;
  }

  .content__how {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
  }

  .content__gallery {
    gap: 20px;
  }

  .images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas: 
    "sunset sunset icecream"
    "cassette books icecream"
    "cassette street street";
    justify-items: stretch;
    align-items: stretch;
  }

  .image_item {
    object-fit: cover;
  }

  .image_sunset {
    grid-area: sunset;
  }

  .image_icecream {
    grid-area: icecream;
  }

  .image_cassette {
    grid-area: cassette;
  }

  .image_books {
    grid-area: books;
  }

  .image_street {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
    padding-block-start: 45px;
  }

  .footer__title {
    text-align: center;
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .header__theme-menu {
    display: grid;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .content__why {
    grid-template-columns: 315px 1fr;
  }

  .content__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  } 

  .content__what .main__title__what {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .content__what .card-list-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / -1;
    grid-row: 2 span;
  }

  .content__how {
    grid-template-columns: 315px 1fr;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}